{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'read_it/main.css' %}">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'read_it/images/icon.png' %}">
        {% if title %}
            <title>Read it - {{ title }}</title>
        {% else %}
            <title>Read it</title>
        {% endif %}
    </head>
    <body>
        <div class="top-nav">
            <a class="site-logo" href="{% url 'read-it-home' %}"><img src="{% static 'read_it/images/ReadItLogo.png' %}"></a>
            <a class="profile-button" href="{% url 'profile' %}"><i class="fas fa-user"></i></a>
          </div>
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
        
        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }

        </script>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>
</html>