{% extends "read_it/base.html" %}
{% load static %}
{% block content %}
  <div class="book-detail">
    <div id="book-detail-cover left-side" class="left-side-book book-detail-cover">
      <img src="{{ book.cover_image_link }}" alt="" class="book-cover" id="book-cover">
    </div>
    <div id="book-detail-info right-side" class="right-side-book">

      <div class="title-author">
        <h2 class="center-text book-title">{{ book.title }}</h2>
        <h3 class="center-text book-author">By: {{book.author}}</h3>
      </div>
      <h2 class="center-text book-synopsis">{{ book.synopsis }}</h2>
      
      
      <div class="links">
        <h2 class="link-title center-text mobile">You can find links to purchase or read "{{book.title}}" below.</h2>
        <a href="{{ book.barnes_noble_link }}"><img src="{% static 'read_it/images/Barnes_&_Noble.svg'  %}" alt="Barnes and Noble"></a>
        <a href="{{ book.audible_link }}"><img src="{% static 'read_it/images/Audible.svg'  %}" alt="Audible"></a>
        <a href="{{ book.google_link}}"><img src="{% static 'read_it/images/Google.svg'  %}" alt="Google"></a>
        {% if book.amazon_link != "N/A" %}
          <a href="{{ book.amazon_link }}"><img src="{% static 'read_it/images/Amazon.svg'  %}" alt="Amazon"></a>
        {% endif %}
      </div>

      <div class="mobile-nav-bar" id="mobile-nav-bar">
        <a href="{% url 'read-it-home' %}"><i class="fa-solid fa-money-bill"></i></a>
        <a href="{% url 'read-it-home' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'read-it-home' %}"><i class="fa fa-book"></i></a>
        <a href="{% url 'profile' %}"><i class="fa fa-user"></i></a>
      </div>
    </div>
  </div>
  <script>
    var image = document.getElementById('book-cover');
    image.style.width = '100%';
    if (window.screen.width >= 769){ //desktop
      var bookCoverMaxHeight = window.innerHeight - document.getElementsByClassName('top-nav')[0].clientHeight - 30;
      image.style.maxHeight = bookCoverMaxHeight + 'px';
      var bookCoverNewHeight = (document.getElementsByClassName('left-side-book')[0].clientWidth -20)* 1.6;
      if(bookCoverMaxHeight < bookCoverNewHeight) {
        image.style.height = bookCoverMaxHeight-10 + 'px';
        image.style.width = bookCoverMaxHeight/1.6 + 'px';
      }
      else {
        image.style.height = bookCoverNewHeight + 'px';
      }

      console.log('hit');
      document.getElementsByClassName('right-side-book')[0].style.maxHeight = window.innerHeight - document.getElementsByClassName('top-nav')[0].clientHeight - 20 + 'px';
      document.getElementsByClassName('left-side-book')[0].style.maxHeight = window.innerHeight - document.getElementsByClassName('top-nav')[0].clientHeight - 20 + 'px';

    }
    else{ //mobile
      console.log('hit2');
      var bookCoverMaxHeight = window.innerHeight - document.getElementsByClassName('mobile-nav-bar')[0].clientHeight - 10;
      var bookCoverNewHeight = (window.innerWidth -20)* 1.6;
      if(bookCoverMaxHeight < bookCoverNewHeight) {
        image.style.height = bookCoverMaxHeight + 'px';
        image.style.width = bookCoverMaxHeight/1.6 + 'px';
      }
      else {
        image.style.height = bookCoverNewHeight + 'px';
      }
    }
  </script>
{% endblock content%}