{% extends "read_it/base.html" %}
{% load static %}
{% load string_replace %}
{% block content %}
<div class="home-page">
  <div class="left-side" id="left-side">
    <div class="large-info">
      <h2 class="book-title">{{ book.title }}</h2>
      <h3 class="book-author">By: {{book.author}}</h3>
      <h2 class="book-synopsis">{{ book.synopsis }}</h2>
      <h2 class="link-title">You can find links to purchase or read <i>"{{book.title}}"</i> below.</h2>
    </div>
    <h2 class="link-title center-text mobile">You can find links to purchase or read "{{book.title}}" below.</h2>
    <div class="links shadow">
      <a href="{{ book.barnes_noble_link }}"><img src="{% static 'read_it/images/Barnes_&_Noble.svg'  %}" alt="Barnes and Noble"></a>
      <a href="{{ book.audible_link }}"><img src="{% static 'read_it/images/Audible.svg'  %}" alt="Audible"></a>
      <a href="{{ book.google_link}}"><img src="{% static 'read_it/images/Google.svg'  %}" alt="Google"></a>
      {% if book.amazon_link != "N/A" %}
        <a href="{{ book.amazon_link }}"><img src="{% static 'read_it/images/Amazon.svg'  %}" alt="Amazon"></a>
      {% endif %}
    </div>
    <div class="mobile-nav-bar" id="mobile-nav-bar">
      <a class="icon"><img src="{% static 'read_it/images/money-bill-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon" onclick="showHide('middle-side','left-side')"><img src="{% static 'read_it/images/home-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon" onclick="showHide('right-side','left-side')"><img src="{% static 'read_it/images/book-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a href="{% url 'profile' %}"><img src="{% static 'read_it/images/user-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
    </div>
  </div>
  <div class="middle-side" id="middle-side">
    
    <img src="{{ book.cover_image_link }}" alt="" class="book-cover shadow" id="book-cover">
    <div class="mobile-info">
      <div class="title-author">
        <h2 class="center-text book-title">{{ book.title }}</h2>
        <h3 class="center-text book-author">By: {{book.author}}</h3>
      </div>
      
      <h2 class="center-text book-synopsis">{{ book.synopsis }}</h2>
    </div>
    <div class="like-dislike-buttons shadow">
      <a href="{% url 'read-it-home'%}"><img src="{% static 'read_it/images/dislike.svg'  %}" ></img></a>
      <a onclick="like()"><img src="{% static 'read_it/images/like.svg'  %}"></a>
    </div>
    <div class="mobile-nav-bar" id="mobile-nav-bar">
      <a class="icon" onclick="showHide('left-side','middle-side')"><img src="{% static 'read_it/images/money-bill-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon"><img src="{% static 'read_it/images/home-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon" onclick="showHide('right-side','middle-side')"><img src="{% static 'read_it/images/book-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a href="{% url 'profile' %}"><img src="{% static 'read_it/images/user-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
    </div>
    
  </div>
  <div class="right-side" id="right-side">
    <h1 class="saved-title">Saved Books</h1>
    {% if user.is_authenticated %}
      <div class="saved-table">
        {% for like in likes %}
          <div class="like-book shadow">
            <a href="book/{{ like.title|string_replace }}"><img src="{{ like.cover_image_link }}"></a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h4><a href="{% url 'login' %}">Sign in</a> to view your saved books!</h4>
    {% endif %}
    
    <div class="mobile-nav-bar" id="mobile-nav-bar">
      <a class="icon" onclick="showHide('left-side','right-side')"><img src="{% static 'read_it/images/money-bill-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon" onclick="showHide('middle-side','right-side')"><img src="{% static 'read_it/images/home-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a class="icon"><img src="{% static 'read_it/images/book-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
      <a href="{% url 'profile' %}"><img src="{% static 'read_it/images/user-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
    </div>
  </div>
</div>  
  
  
  <script>
    function showHide(show,hide) {
      s = document.getElementById(show);
      h = document.getElementById(hide);
      
      h.style.display = "none";
      s.style.display = "block";
      window.scrollTo(0, 0);
    }

    var image = document.getElementById('book-cover');
    image.style.width = '100%';
    if (window.screen.width >= 769){
      var bookCoverMaxHeight = window.innerHeight - document.getElementsByClassName('top-nav')[0].clientHeight 
      - document.getElementsByClassName('like-dislike-buttons')[0].clientHeight- 30;
      image.style.maxHeight = bookCoverMaxHeight + 'px';
      var bookCoverNewHeight = (document.getElementById('middle-side').clientWidth -20)* 1.6;
      if(bookCoverMaxHeight < bookCoverNewHeight) {
        image.style.height = bookCoverMaxHeight-10 + 'px';
        image.style.width = bookCoverMaxHeight/1.6 + 'px';
      }
      else {
        image.style.height = bookCoverNewHeight + 'px';
      }

      var left = document.getElementById('left-side');
      var middle = document.getElementById('middle-side');
      var right = document.getElementById('right-side');
      var newMaxHeight = window.innerHeight - document.getElementsByClassName('top-nav')[0].clientHeight - 30; //30 for a padding of 10 on the top and bottom
      left.style.maxHeight = newMaxHeight + 'px';
      middle.style.maxHeight = newMaxHeight + 'px';
      right.style.maxHeight = newMaxHeight + 'px';

    }
    else{
      var bookCoverMaxHeight = window.innerHeight - document.getElementsByClassName('mobile-nav-bar')[0].clientHeight - 
      document.getElementsByClassName('mobile-nav-bar')[1].clientHeight -
      document.getElementsByClassName('mobile-nav-bar')[2].clientHeight - 10;
      var bookCoverNewHeight = (document.getElementById('middle-side').clientWidth -20)* 1.6;
      if(bookCoverMaxHeight < bookCoverNewHeight) {
        image.style.height = bookCoverMaxHeight + 'px';
        image.style.width = bookCoverMaxHeight/1.6 + 'px';
      }
      else {
        image.style.height = bookCoverNewHeight + 'px';
      }
    }
    
    
    
    function like() {
      var title = "{{ book.title }}";
      var title2 = title.replace(/ /g,"_");
      current_url = window.location.href;
      current_url = current_url.replace("/#","");

      var include = current_url.includes("/");

      if (include) {
        current_url = current_url.substring(0, current_url.length-1);
      }


      current_url += "/liked/";
      current_url += title2;

      window.location.href = current_url;

      console.log(current_url);

    }
  </script>

{% endblock content%}