{% extends "read_it/base.html" %}
{% load static %}
{% block content %}
    <div class="quiz">
        <div>
            <h1>Personalization Quiz</h1>
            <div class="quiz-questions">
                <div class="question1">
                    <h3>Question 1: What sounds good?</h3>
                    <label class="container"><h4>History</h4><input type="radio" name="question1" value="History"><span class="checkmark"></span></label>
                    <label class="container"><h4>Ambition</h4><input type="radio" name="question1" value="Ambition"><span class="checkmark"></span></label>
                    <label class="container"><h4>Wit</h4><input type="radio" name="question1" value="Wit"><span class="checkmark"></span></label>
                    <label class="container"><h4>Moral Ambiguity</h4><input type="radio" name="question1" value="Moral Ambiguity"><span class="checkmark"></span></label>
                </div>
                <div class="question2">
                    <h3>Question2: How long do you want the book to be?</h3>
                    <label class="container"><h4 >Long</h4><input type="radio" name="question2" value="Long"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Longer</h4><input type="radio" name="question2" value="Longer"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Medium</h4><input type="radio" name="question2" value="Medium"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Short</h4><input type="radio" name="question2" value="Short"><span class="checkmark"></span></label>
                </div>
                <div class="question3">
                    <h3>Question 3: What sounds good?</h3>
                    <label class="container"><h4 >The Dark Side of Wealth</h4><input type="radio" name="question3" value="The Dark Side of Wealth"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Young Professionals</h4><input type="radio" name="question3" value="Young Professionals"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Social Analysis</h4><input type="radio" name="question3" value="Social Analysis"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Post Apoctolyptic</h4><input type="radio" name="question3" value="Post Apoctolyptic"><span class="checkmark"></span></label>
                </div>
                <div class="question4">
                    <h3>Question 4: What sounds good?</h3>
                    <label class="container"><h4 >Twists and Turns</h4><input type="radio" name="question4" value="Twists and Turns"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Elemental Magic</h4><input type="radio" name="question4" value="Elemental Magic"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Brutal Honesty</h4><input type="radio" name="question4" value="Brutal Honesty"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Positive Read</h4><input type="radio" name="question4" value="Positive Read"><span class="checkmark"></span></label>
                </div>
                <div class="question5">
                    <h3>Question 5: What sounds good? </h3>
                    <label class="container"><h4 >Modern Love</h4><input type="radio" name="question5" value="Modern Love"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Memoirs</h4><input type="radio" name="question5" value="Memoirs"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Fantasy</h4><input type="radio" name="question5" value="Fantasy"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Murder Mystery</h4><input type="radio" name="question5" value="Murder Mystery"><span class="checkmark"></span></label>
                </div>
                <div class="question6">
                    <h3>Question 6: What sounds good?</h3>
                    <label class="container"><h4 >Something Modern</h4><input type="radio" name="question6" value="Something Modern"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Something Haunting</h4><input type="radio" name="question6" value="Something Haunting"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Something Helpful</h4><input type="radio" name="question6" value="Something Helpful"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Something Fun</h4><input type="radio" name="question6" value="Something Fun"><span class="checkmark"></span></label>
                </div>
                <div class="question7">
                    <h3>Question 7: What sounds good?</h3>
                    <label class="container"><h4 >A real Person</h4><input type="radio" name="question7" value="A real Person"><span class="checkmark"></span></label>
                    <label class="container"><h4 >An amateur detective</h4><input type="radio" name="question7" value="An amateur detective"><span class="checkmark"></span></label>
                    <label class="container"><h4 >A headstrong heroine</h4><input type="radio" name="question7" value="A headstrong heroine"><span class="checkmark"></span></label>
                    <label class="container"><h4 >A royal with a secret</h4><input type="radio" name="question7" value="A royal with a secret"><span class="checkmark"></span></label>
                </div>
                <div class="question8">
                    <h3>Question 8: What sounds good?</h3>
                    <label class="container"><h4 >An epic adventure</h4><input type="radio" name="question8" value="An epic adventure"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Thriller</h4><input type="radio" name="question8" value="Thriller"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Romance</h4><input type="radio" name="question8" value="Romance"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Real Stories</h4><input type="radio" name="question8" value="Real Stories"><span class="checkmark"></span></label>
                </div>
                <div class="question9">
                    <h3>Question 9: What age Range?</h3>
                    <label class="container"><h4 >Kids</h4><input type="radio" name="question9" value="Kids"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Teens</h4><input type="radio" name="question9" value="Teens"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Young Adult</h4><input type="radio" name="question9" value="Young Adult"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Adult</h4><input type="radio" name="question9" value="Adult"><span class="checkmark"></span></label>
                </div>
                <div class="question10">
                    <h3>Question 10: Where do you want to go?</h3>
                    <label class="container"><h4 >New York</h4><input type="radio" name="question10" value="New York"><span class="checkmark"></span></label>
                    <label class="container"><h4 >California</h4><input type="radio" name="question10" value="California"><span class="checkmark"></span></label>
                    <label class="container"><h4 >Nowhere</h4><input type="radio" name="question10" value="Nowhere"><span class="checkmark"></span></label>
                    <label class="container"><h4 >London</h4><input type="radio" name="question10" value="London"><span class="checkmark"></span></label>
                </div>
                <div class="quiz-button-container">
                    <button class="quiz-button" type="submit" onclick="calculate()">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mobile-nav-bar" id="mobile-nav-bar">
        <a href="{% url 'read-it-home' %}"><img src="{% static 'read_it/images/money-bill-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
        <a href="{% url 'read-it-home' %}"><img src="{% static 'read_it/images/home-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
        <a href="{% url 'read-it-home' %}"><img src="{% static 'read_it/images/book-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
        <a href="{% url 'profile' %}"><img src="{% static 'read_it/images/user-solid.svg'  %}" class="mobile-nav-bar-icon"></a>
    </div>
<script>
    function calculate() {
        var business_score = 0;
        var childrens_score = 0;
        var classics_score = 0;
        var fantasy_score = 0;
        var history_score = 0;
        var horror_score = 0;
        var mystery_score = 0;
        var nonfiction_score = 0;
        var romance_score = 0;
        var scifi_score = 0;
        var sports_score = 0;
        var youngadult_score = 0;


        var question1radio = document.getElementsByName('question1');
        var question2radio = document.getElementsByName('question2');
        var question3radio = document.getElementsByName('question3');
        var question4radio = document.getElementsByName('question4');
        var question5radio = document.getElementsByName('question5');
        var question6radio = document.getElementsByName('question6');
        var question7radio = document.getElementsByName('question7');
        var question8radio = document.getElementsByName('question8');
        var question9radio = document.getElementsByName('question9');
        var question10radio = document.getElementsByName('question10');
        for( x = 0; x < 4; x++) {
            if(question1radio[x].checked) {
                var question1answer = question1radio[x].value;
                console.log(question1radio[x].value);
            }
            if(question2radio[x].checked) {
                var question2answer = question2radio[x].value;
            }
            if(question3radio[x].checked) {
                var question3answer = question3radio[x].value;
            }
            if(question4radio[x].checked) {
                var question4answer = question4radio[x].value;
            }
            if(question5radio[x].checked) {
                var question5answer = question5radio[x].value;
            }
            if(question6radio[x].checked) {
                var question6answer = question6radio[x].value;
            }
            if(question7radio[x].checked) {
                var question7answer = question7radio[x].value;
            }
            if(question8radio[x].checked) {
                var question8answer = question8radio[x].value;
            }
            if(question9radio[x].checked) {
                var question9answer = question9radio[x].value;
            }
            if(question10radio[x].checked) {
                var question10answer = question10radio[x].value;
            }
        }

        if(question1answer == "History"){
            history_score += 50;
            nonfiction_score += 10;
        }
        else if (question1answer =="Ambition"){
            sports_score += 10;
            business_score += 10;
        }
        else if (question1answer == "Wit"){
            scifi_score += 20;
            fantasy_score += 10;
        }
        else if (question1answer == "Moral Ambiguity"){
            sports_score += 10;
            business_score += 10;
            classics_score += 15;
        }

        if (question2answer == "Long"){
            fantasy_score += 50;
            scifi_score += 20;
        }
        else if (question2answer =="Longer"){
            youngadult_score += 10;
            nonfiction_score += 10;
        }
        else if (question2answer == "Medium"){
            history_score += 10;
            romance_score += 10;
        }
        else if (question2answer == "Short"){
            classics_score += 10;
        }


        if (question3answer == "The Dark Side of Wealth"){
            business_score += 20;
            sports_score += 30;
        }
        else if (question3answer =="Young Professionals"){
            sports_score += 20;
            business_score += 30;
        }
        else if (question3answer == "Social Analysis"){
            nonfiction_score += 10;
            youngadult_score += 10;
        }
        else if (question3answer == "Post Apocalyptic"){
            youngadult_score += 20;
            scifi_score += 20;
        }

        if (question4answer == "Twists and Turns"){
            mystery_score += 50;
        }
        else if (question4answer =="Elemental Magic"){
            fantasy_score += 50;
        }
        else if (question4answer == "Brutal Honesty"){
            nonfiction_score += 10;
            business_score += 10;
        }
        else if (question4answer == "Positive Read"){
            romance_score += 10;
            scifi_score += 10;
            childrens_score += 20;
        }

        if (question5answer == "Modern Love"){
            romance_score += 50;
        }
        else if (question5answer =="Memoirs"){
            nonfiction_score += 30;
        }
        else if (question5answer == "Fantasy"){
            fantasy_score += 50;
        }
        else if (question5answer == "Murder Mystery"){
            mystery_score += 50;
        }

        if (question6answer == "Something Modern"){
            business_score += 10;
            scifi_score += 10;
            youngadult_score += 10;
        }
        else if (question6answer =="Something Haunting"){
            horror_score += 50;
            mystery_score += 10;
        }
        else if (question6answer == "Something Helpful"){
            business_score += 30;
            sports_score += 10;
        }
        else if (question6answer == "Something Fun"){
            romance_score += 10;
            youngadult_score += 20;
            scifi_score += 10;
        }

        if (question7answer == "A real Person"){
            nonfiction_score += 10;
            horror_score += 20;
        }
        else if (question7answer =="An amateur detective"){
            mystery_score += 20;
        }
        else if (question7answer == "A headstrong heroine"){
            youngadult_score += 20;
            fantasy_score += 10;
        }
        else if (question7answer == "A royal with a secret"){
            nonfiction_score += 20;
            history_score += 10;
        }

        if (question8answer == "An epic adventure"){
            fantasy_score += 10;
            scifi_score += 20;
        }
        else if (question8answer =="Thriller"){
            horror_score += 20;
            mystery_score += 20;
        }
        else if (question8answer == "Romance"){
            romance_score += 30;
        }
        else if (question8answer == "Real Stories"){
            nonfiction_score += 20;
            history_score += 20;
        }

        if (question9answer == "Kids"){
            childrens_score += 200;
        }
        else if (question9answer =="Teens"){
            childrens_score += 50;
            scifi_score += 10;
        }
        else if (question9answer == "Young Adult"){
            youngadult_score += 100;
        }
        else if (question9answer == "Adult"){
            youngadult_score += 10;
        }

        if (question10answer == "New York"){
            business_score += 50;
            youngadult_score += 10;
        }
        else if (question10answer =="California"){
            sports_score += 10;
        }
        else if (question10answer == "London"){
            fantasy_score += 20;
            youngadult_score += 10;
            romance_score += 10;
        }

        business_str = "";
        childrens_str = "";
        classics_str = "";
        fantasy_str = "";
        history_str = "";
        horror_str = "";
        mystery_str = "";
        nonfiction_str = "";
        romance_str = "";
        scifi_str = "";
        sports_str = "";
        youngadult_str = "";

        if(business_score > 100){
            business_str = business_score.toString();
        }
        else if(business_score > 10){
            business_str = "0";
            business_str += business_score.toString();
        }
        else {
            business_str = "000";
        }

        if(childrens_score > 100){
            childrens_str = childrens_score.toString();
        }
        else if(childrens_score > 10){
            childrens_str = "0";
            childrens_str += childrens_score.toString();
        }
        else {
            childrens_str = "000";
        }

        if(classics_score > 100){
            classics_str = classics_score.toString();
        }
        else if(classics_score > 10){
            classics_str = "0";
            classics_str += classics_score.toString();
        }
        else {
            classics_str = "000";
        }

        if(fantasy_score > 100){
            fantasy_str = fantasy_score.toString();
        }
        else if(fantasy_score > 10){
            fantasy_str = "0";
            fantasy_str += fantasy_score.toString();
        }
        else {
            fantasy_str = "000";
        }

        if(history_score > 100){
            history_str = history_score.toString();
        }
        else if(history_score > 10){
            history_str = "0";
            history_str += history_score.toString();
        }
        else {
            history_str = "000";
        }

        if(horror_score > 100){
            horror_str = horror_score.toString();
        }
        else if(horror_score > 10){
            horror_str = "0";
            horror_str += horror_score.toString();
        }
        else {
            horror_str = "000";
        }

        if(mystery_score > 100){
            mystery_str = mystery_score.toString();
        }
        else if(business_score > 10){
            mystery_str = "0";
            mystery_str += mystery_score.toString();
        }
        else {
            mystery_str = "000";
        }

        if(nonfiction_score > 100){
            nonfiction_str = nonfiction_score.toString();
        }
        else if(nonfiction_score > 10){
            nonfiction_str = "0";
            nonfiction_str += nonfiction_score.toString();
        }
        else {
            nonfiction_str = "000";
        }

        if(romance_score > 100){
            romance_str = romance_score.toString();
        }
        else if(romance_score > 10){
            romance_str = "0";
            romance_str += romance_score.toString();
        }
        else {
           romance_str = "000";
        }

        if(scifi_score > 100){
            scifi_str = scifi_score.toString();
        }
        else if(scifi_score > 10){
            scifi_str = "0";
            scifi_str += scifi_score.toString();
        }
        else {
            scifi_str = "000";
        }

        if(sports_score > 100){
            sports_str = sports_score.toString();
        }
        else if(sports_score > 10){
            sports_str = "0";
            sports_str += sports_score.toString();
        }
        else {
            sports_str = "000";
        }

        if(youngadult_score > 100){
            youngadult_str = youngadult_score.toString();
        }
        else if(youngadult_score > 10){
           youngadult_str = "0";
            youngadult_str += youngadult_score.toString();
        }
        else {
            youngadult_str = "000";
        }

        output_str = business_str + childrens_str + classics_str + fantasy_str + history_str + horror_str + mystery_str + nonfiction_str + scifi_str + sports_str + romance_str + youngadult_str;

        current_url = window.location.href;
        current_url = current_url.substring(0, current_url.length-6);
        current_url += "quiz_response/";
        current_url += output_str;

        window.location.href = current_url;
    }

</script>

{% endblock content%}